<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Hello!! <br> Dear, {{CusfName}} {{CuslName}},
    <p style="padding-top: 1pc;">
        We at Pathpuja are extremely greatful to have you as our valued customer. Your support and trust in us are much
        appreciated. We thank you for choosing us to render you with quality services. The details of the puja selected
        by you as per your preference along with the advance payment made by you so far are mentioned below. </p>
    <table style="height:11pc; margin-top: 2pc;width: 38pc;">
        <tr>
            <th style="text-align: start;">Puja :-</th>
            <th style = "text-align: start;">{{Puja_Name}}</th>
        </tr>
        <tr>
            <th style="text-align: start;">Package Selected :-</th>
            <th style = "text-align: start;">{{packageName}}</th>
        </tr>
        <tr>
            <th style="text-align: start;">Performing time :-</th>
            <th style = "text-align: start;">{{performtime}}</th>
        </tr>
        <tr>
            <th style="text-align: start;">Performing date :-</th>
            <th style = "text-align: start;">{{performdate}}</th>
        </tr>
        <tr>
            <th style="text-align: start;">Address</th>
            <th style = "text-align: start;">{{CusAdress}} , {{Cuscity}} , {{CusState}} , {{CusPinCode}}</th>
        </tr>
        <tr>
            <th style="text-align: start;">Amount Paid (20%) :-</th>
            <th style = "text-align: start;"> {{prices}}</th>
        </tr>
    </table>
    <p>The
        remaining payment would be paid on the day puja would be performed.
        Pathpuja team wishes you a memorable puja experience. Looking forward to have a strong and a long-lasting
        relationship with you. In case of any queries, you can contact on the WhatsApp number mentioned below.
        <a href="https://wa.me/message/FQEMMDOIGPGPJ1">WhatsApp number -: 9509238340.</a> <br>
        Regards<br>
        Pathpuja Team
    </p>
</body>

</html>