<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    p {
        margin: 4px;
    }

    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<body>
    <h3>Namaste {{CusfName}} {{CuslName}}</h3>
    <p>Dear Customer,</p>
    <p>Greetings from Pathpuja,</p>
    <p>This mail is to follow you up through the booking process further. The details of the puja along with their
        prices have been mentioned below. We humbly request you to go through the same once carefully.</p>
    <table style="height:11pc; margin-top: 2pc;width: 38pc;">
        <tr>
            <th style = "text-align: start;">Puja :-</th>
            <th style = "text-align: start;">{{Puja_Name}}</th>
        </tr>
        <tr>
            <th style = "text-align: start;">Package Selected :-</th>
            <th style = "text-align: start;">{{packageName}}</th>
        </tr>
        <tr>
            <th style = "text-align: start;">Performing Date  :-</th>
            <th style = "text-align: start;">{{pujaDate}}</th>
        </tr>
        <tr>
            <th style = "text-align: start;">Performing Time :-</th>
            <th style = "text-align: start;">{{hours}}</th>
        </tr>
        <tr>
            <th style = "text-align: start;">Location :-</th>
            <th style = "text-align: start;">{{CusAdress}}, {{Cuscity}} , {{CusState}} , {{CusPinCode}}</th>
        </tr>
        <tr>
            <th style = "text-align: start;">Amount (20%) :-</th>
            <th style = "text-align: start;"> {{prices}}</th>
        </tr>
    </table>
    <p>Please note that the link for payment has been attached below along with this mail. We would also like to inform
        you that you would be making a payment of 20% initially and rest shall be payed after completion of your
        prosperous puja. </p>
    <p style="margin-top: 1pc;">Link:-  https://paytm.me/GS-So1r</p>
    <p>Do remember that only after making the payment will the booking be confirmed</p>



    <p>
    <p style="font-weight: border; display:block">Note:</p>The payment process is authentic and the name Saksham Agrawal shall be
    shown on your device screens while
    making
    the payment.</p>
    <p>Pathpuja team wishes you a memorable puja experience. Looking forward to have a strong and a long-lasting
        relationship with you. In case of any queries, you can contact on the <a href="https://wa.me/message/FQEMMDOIGPGPJ1">WhatsApp number</a> -: 9509238340.</p>


    <p style="margin-top: 2pc;">Regards</p>
    <p>Team Pathpuja</p>

</body>

</html>