<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p style="font-size: larger;">Hey Saksham,</p>
    <p>
        There is a new order for you please have a look.
    <table style="height:11pc; margin-top: 2pc;width: 38pc;">
        <tr>
            <th>Puja :-</th>
            <th>{{Puja_Name}}</th>
        </tr>
        <tr>
            <th>Package Selected :-</th>
            <th>{{packageName}}</th>
        </tr>
        <tr>
            <th>Amt Paid :-</th>
            <th>{{prices}}</th>
        </tr>
        <tr>
            <th>Customer name -:-</th>
            <th>{{CusfName}} {{CuslName}}</th>
        </tr>
        <tr>
            <th>mail :-</th>
            <th>{{CusGmail}}</th>
        </tr>
        <tr>
            <th>Customer whatsapp no :-</th>
            <th> {{prices}}</th>
        </tr>
    </table>


    </p>
</body>

</html>