<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p style="font-size: larger;">Hey Saksham,</p>
    <p>
        There is a new order for you please have a look.
    <table style="height:11pc; margin-top: 2pc;width: 38pc;">
        <tr>
            <th style = "text-align: start;">Puja :-</th>
            <th style = "text-align: start;">{{Puja_Name}}</th>
        </tr>
        <tr>
            <th style = "text-align: start;">Package Selected :-</th>
            <th style = "text-align: start;">{{packageName}}</th>
        </tr>
        <tr>
            <th style = "text-align: start;">Amt Paid :-</th>
            <th style = "text-align: start;">{{prices}}</th>
        </tr>
        <tr>
            <th style = "text-align: start;">Customer name -:-</th>
            <th style = "text-align: start;">{{CusfName}} {{CuslName}}</th>
        </tr>
        <tr>
            <th style = "text-align: start;">mail :-</th>
            <th style = "text-align: start;">{{CusGmail}}</th>
        </tr>
        <tr>
            <th style = "text-align: start;">Cust Aress :-</th>
            <th style = "text-align: start;">{{CusAdress}}</th>
        </tr>
        <tr>
            <th style = "text-align: start;">Customer whatsapp no :-</th>
            <th style = "text-align: start;"> {{phone}}</th>
        </tr>
        <tr>
            <th style = "text-align: start;">Puja Perform Time</th>
            <th style = "text-align: start;"> {{pujaDate}}</th>
        </tr>
        <tr>
            <th style = "text-align: start;">Puja Perform Date</th>
            <th style = "text-align: start;"> {{PujaEventTime}}</th>
        </tr>
    </table>


    </p>
</body>

</html>